/*******************************************************************************
Slate Theme for GitHub Pages
by Jason Costello, @jsncostello
*******************************************************************************/

@import url(pygment_trac.css);

/*******************************************************************************
MeyerWeb Reset
*******************************************************************************/



html,h1,h2,h3{
	margin-top: -8px;
	margin-right: -8px;
	margin-left: -8px;
	margin-bottom: -8px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	border: 0;
	height: auto;
	font: inherit;
	vertical-align: baseline;
}
body{
	background: #f2f2f2;}



/*******************************************************************************
Full-Width Styles
*******************************************************************************/

.outer {
  width: 100%;
  height:auto;
}

.inner {
	position: relative;
	max-width: 640px;
	height: auto;
	left: 15%;
	right:15%;
}



#header_wrap {
  background: #212121;
  background: -moz-linear-gradient(top, #373737, #212121);
  background: -webkit-linear-gradient(top, #373737, #212121);
  background: -ms-linear-gradient(top, #373737, #212121);
  background: -o-linear-gradient(top, #373737, #212121);
  background: linear-gradient(top, #373737, #212121);
}

#header_wrap .inner {
	padding-top: 0px;
	padding-right: 10px;
	padding-left: 3%;
	padding-bottom: 21px;
}

#project_title {
	margin-top: 1px;
	margin-right: 1px;
	margin-left: 1px;
	margin-bottom: 1px;
	padding-top: 25px;
	padding-left: 2%;
	color: #000;
	font-size: 42px;
	font-weight: 700;
	text-shadow: #fff 0px 0px 15px;
}

#project_tagline {
	color: #000;
	padding-top: 2%;
	padding-left: 3%;
	font-size: 24px;
	font-weight: 300;
	background: none;
	text-shadow: #fff 0px 0px 20px;
}
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
/* black */
.black {
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}

#daoh{
	background-color: #828282;
	padding-top: 12px;
	padding-bottom: 12px;
	width: 100%;
}
#zhannei0 {
	width:50%;
	padding-left: 30%;
	padding-right: 5%;
	color: black;
	font-style: important;
	text-decoration: none;
	}
#zhannei {
	width:50%;
	padding-left: 5%;
	padding-right: 5%;
	color: black;
	font-style: important;
	text-decoration: none;
	}

#forkme_banner  {
	
	text-decoration: none;
	display: block;
	position: absolute;
	right: 35px;
	z-index: 10;
	margin-top: -35px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	color: #fff;
	background: url('../images/blacktocat.png') #0090ff no-repeat 95% 50%;
	font-weight: 700;
	font-style:inherit;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	border-radius: 8px;
	left:83%;
}
#mainpage{
	text-decoration: none;
	display: block;
	position: absolute;
	min-width:550px;
	z-index: 9;
	width: 60%;
	height: auto;
	top: 182px;
	right: auto;
	left: 20%;
	bottom: auto;
	
	background-repeat: no-repeat;
	background-position: 85% 60%;
	background-image: url('');
	background-color: #AEEDD3;
	font-weight: 800;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	border-radius: 4px;
	
	}
	#articles{
		text-decoration: none;
		color: #black;
		margin-left:40px;
		margin-top:20px;}
	li a{text-decoration: none;
	color: #black;}
#sidebar {
	border-radius: 2px;
	top: 184px;
	z-index: 10;
	position: fixed;
	width: 130px;
	height: auto;
	left: 85%;
	padding-top: 0%;
	padding-top: 1px;
	border: thick double green;
	outline: #000000;
	
}
#adimage{
		width: 130px;
		height: auto;
		padding-left:1px}
nav ul {
	padding-left: 10%;
}
nav ul li {
	list-style-type: none;
	padding-top: 0px;
	padding-bottom: 10px;
}

nav ul li a {
	color: rgba(146,146,146,1.00);
	text-decoration: none;}

#totop{
	position:fixed;
	left: 86%;
	top: 450px;
	}



/*******************************************************************************
Small Device Styles
*******************************************************************************/

@media screen and (max-width: 480px) {
  body {
    font-size:14px;
  }

  #downloads {
    display: none;
  }

  .inner {
    min-width: 320px;
    max-width: 480px;
  }

  #project_title {
  font-size: 32px;
  }

  h1 {
    font-size: 28px;
  }

  h2 {
    font-size: 24px;
  }

  h3 {
    font-size: 21px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 14px;
  }

  h6 {
    font-size: 12px;
  }

 
}
